@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");
@import "tailwindcss";

/* 프로젝트 컬러 (Palette / Text) */
@theme {
    /* Palette */
    --color-ui-primary: #4880ee;
    --color-red: #e84118;
    --color-gray: #dadada;
    --color-light-gray: #f2f4f6;
    --color-white: #ffffff;
    --color-black: #222222;
    /* Text (text-primary, text-secondary, text-subtitle) */
    --color-primary: #353c49;
    --color-secondary: #6d7582;
    --color-subtitle: #8d94a0;
}

@layer base {
    html {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 24px;
    }
}
