@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");
@import "tailwindcss";

@layer base {
    html {
        font-family: "Noto Sans KR", sans-serif;
    }
}
